
table.pvtTable {
    border-collapse: collapse;
    font-family: arial;
    font-size: 8pt;
    text-align: left;
}
table.pvtTable tr th, table.pvtTable tr th {
    background-color: #E6EEEE;
    border: 1px solid #CDCDCD;
    font-size: 8pt;
    padding: 5px;
}
table.pvtTable .pvtColLabel {
    text-align: center;
}
table.pvtTable .pvtTotalLabel {
    text-align: right;
}
table.pvtTable tr td {
    background-color: #FFFFFF;
    border: 1px solid #CDCDCD;
    color: #3D3D3D;
    padding: 5px;
    text-align: right;
    vertical-align: top;
}
.pvtTotal, .pvtGrandTotal {
    font-weight: bold;
}
.pvtVals {
    text-align: center;
}
.pvtAggregator {
    margin-bottom: 5px;
}
.pvtAxisContainer {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #808080;
    min-height: 20px;
    min-width: 20px;
    padding: 5px;
}
.pvtAxisContainer li {
    cursor: move;
    list-style-type: none;
    padding: 8px 6px;
}
.pvtAxisContainer li.pvtPlaceholder {
    border: 1px dashed #AAAAAA;
    border-radius: 5px;
    padding: 3px 15px;
}
.pvtAxisContainer li span.pvtAttr {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    padding: 2px 5px;
    white-space: nowrap;
}
.pvtTriangle {
    color: #808080;
    cursor: pointer;
}
.pvtHorizList li {
    display: inline;
}
.pvtVertList {
    vertical-align: top;
}
.pvtFilteredAttribute {
    font-style: italic;
}
.pvtFilterBox {
    background-color: #FFFFFF;
    border: 1px solid #808080;
    padding: 20px;
    position: absolute;
    text-align: center;    
    width: 280px;
    z-index: 100;
}
.pvtFilterBox h4 {
    margin: 0;
}
.pvtCheckContainer {
    max-height: 200px;
    overflow: scroll;
    text-align: left;
    width: 100%;
}
.pvtCheckContainer p {
    margin: 5px;
}
