<div class="form-group" id="mes_anio_f">    
    <label for="anio_mes">Mes/A&ntilde;o</label>
    <input type="text" class="form-control" id="anio_mes" name="anio_mes" size="10">
</div>
<div class="form-group" id="dependencia_f">    
    <label for="dependencia">{{'_dependencia_'|trans}}</label>
    <select id="dependencia" name="dependencia">
        {% for unidad in estructura %}
            {% if unidad.nivel == 1 %}
                <optgroup label="{{unidad.nombre}}">
                    {% for unidad in estructura %}
                        {% if unidad.nivel == 2 %}
                            <option value="{{unidad.codigo}}">{{unidad.nombre}}</option>
                        {% endif%}
                    {% endfor %}
                </optgroup>
            {% endif%}
        {% endfor %}
    </select>
</div>
<br/>