@media only screen and (max-device-width : 1024px) {
    .dropdown-menu li  a{
        line-height: 45px !important;
        color: white !important;
        border-bottom: 2px solid gray !important;
    }
    .dropdown-menu{
        background-color: #353535 !important;
        color: white !important;
    }
    .forcheckbox{
        background-color: #EAEAEA;
        color: green;
        font-weight: bold;
        width: 80%;
        border-radius: 1em 1em 1em 1em;
        line-height:  40px;
        display: block  !important;
    }
    select, input{
        height:  40px;
    }

    .btn, .dropdown-toggle{
        height: 40px;
    }
    .connection{
        margin: -190px 0 0 -250px !important;
        border: 1px solid red !important;
    }
    
    #collapseOne.in.collapse{
        overflow: visible;
    }    

}    
@media (min-width: 979px) {
    body.sonata-bc {
        padding-top: 10px;
    }
}
.sonata-bc div.connection {
    border: 1px solid #DDDDDD;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 2px 2px 10px #CCCCCC;
    left: 50%;
    margin: 10px 0 0 -250px;
    position: relative;
    top: 35%;
    width: 460px;
}

.editable{
    max-height: 350px;
    overflow-y: auto;
    border: 1px solid #CCCCCC;
}

.unstyled {
    max-height: 280px;
    overflow-y: auto;
    border: 1px solid #CCCCCC;        
}
@media only screen and (max-width: 979px) {
    .nav-collapse.in.collapse{
        height: auto !important;
    } 
}
@media only screen and (max-width: 767px) {
    .connection{
        margin: -330px 0 0 -250px !important;
        border: 1px solid green !important;
    }
}