@media only screen and (max-device-width : 1024px) {
    .dropdown-menu li  a{
        line-height: 45px !important;
        color: white !important;
        border-bottom: 2px solid gray !important;
    }
    .dropdown-menu{
        background-color: #353535 !important;
        color: white !important;
    }
    .forcheckbox{
        background-color: #EAEAEA;
        color: green;
        font-weight: bold;
        width: 80%;
        border-radius: 1em 1em 1em 1em;
        line-height:  40px;
        display: block  !important;
    }
    select, input{
        height:  40px;
    }
    
    #collapseOne.in.collapse{
        overflow: visible;
    }
    .sonata-bc div.connection input.big{
        width: 90%;
    }
    .sonata-bc div.connection .control-group{
        margin-bottom: 0px;
    }
    .sonata-bc div.connection div.form-actions{
        margin-top: 10px !important;
        padding: 5px 5px 5px !important;
    }
    
    .sonata-bc div.connection input.big{
        font-size: 16px !important;
        height: 10% !important;
    }
    
    .sonata-bc div.connection {
        border: 1px solid #DDDDDD;
        border-radius: 6px 6px 6px 6px;
        box-shadow: 2px 2px 10px #CCCCCC;
        margin-left: -50% !important;
        position: relative;
        margin-top: -5% !important;
        width: 80%;
    }

}    
@media (min-width: 979px) {
    body.sonata-bc {
        padding-top: 10px;
    }
}

.editable{
    max-height: 350px;
    overflow-y: auto;
    border: 1px solid #CCCCCC;
}

.unstyled {
    max-height: 280px;
    overflow-y: auto;
    border: 1px solid #CCCCCC;        
}
@media only screen and (min-device-width: 1024px) {
    #collapseOne.in.collapse{
        overflow: visible;
    }
    .sonata-bc div.connection {
        border: 1px solid #DDDDDD;
        border-radius: 6px 6px 6px 6px;
        box-shadow: 2px 2px 10px #CCCCCC;
        left: 50%;
        margin: 10px 0 0 -250px;
        position: relative;
        top: 35%;
        width: 460px;
    }
}
@media only screen and (max-width: 979px) {
    .nav-collapse.in.collapse{
        height: auto !important;
    } 
}

@media (max-width: 1024px) and (min-width: 800px),
       (max-width: 768px) and (min-width: 320px),
       (max-width: 320px) {
        .sonata-bc div.connection {
            position: initial !important;
            margin: auto !important;
        }
}
@media (max-width: 768px) and (min-width: 320px),
       (max-width: 320px) {
        .sonata-bc div.connection {
            width: auto !important;
        }
}