{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
    
{% block field %}
 
<div>    
    <div class="nailthumb-container" ><img style="width: 180px; height: 100px;" src="{{asset(object.webPath)}}" /></div>
</div> 
{% endblock%}
