/* 
CSS Document
MSPAS-SAS
v1

Ministerio de Salud Pública y Asistencia Social
Unidad Informática
Área de Análisis, Desarrollo y Mantenimiento de Sistemas


CELESTE color: rgb(102, 154, 204);
AZUL NEGRO color: rgb(1, 53, 103);


*/

/* header MSPAS */
#mspas-header {
	background-image: url(../../themes/mspas/images/hd-background.jpg);
	height: 180px;
	background-repeat:no-repeat;
}

#mspas-plantilla1{
	background-color: Lime;
}

#mspas-hd-logo{
	float: left;
	margin-left: 20px;
	width: 250px;
	/*background-color: red;*/
}

#mspas-hd-options {
	margin-top: 10px;
	float: right;
	margin-right: 20px;
	width: 300px;
	text-align: right;
	/*background-color: Lime;*/
}

#mspas-hd-options img{
	vertical-align: middle;
}

#mspas-hd-options a img{
	text-decoration: none;
}

#mspas-menu-izquierda{
	background-color: #CCCCFF;
	margin: 5px;
	padding: 2px;
	
}

#mspas-contenido{
	background-color: #FFFFFF;
	margin: 5px;
	padding: 2px;
}

#mspas-hd-text{
	margin-top: 10px;
	margin-bottom: 4px;
	padding: 10px;
	clear: both;
	width: 100%;
	color: Yellow;
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 2em;
}


/* FIN header MSPAS */

/* footer MSPAS */
#mspas-footer{
	font-weight: bold;
	color: rgb(102, 154, 204);
}
/* FIN footer MSPAS */

strong{
	font-weight: bold;
}


.ok {
	background-color:#33FF99;
	border: 1px solid #009900;
	padding: 3px 3px 3px 30px;
	margin:3px;

}

.warning{
	background-color:#FFFF99;
	border: 1px solid #FFCC00;
	padding: 3px 3px 3px 30px;
	margin:3px;

}

.error {
	background-color: #FFCCCC;
	border: 1px solid #FF0033;
	padding: 3px 3px 3px 30px;
	margin:3px;
	background-image: url(../../themes/mspas/images/cancel.png);
	background-repeat: no-repeat;
	background-position: 3px 3px;
}

#tipDiv {
	position: absolute; 
	visibility: hidden; 
	z-index: 100;
}

.encabezado {
	background-color: #C1F0FF;
	padding: 5px;
}

.encabezado h2 {
	color: Blue;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 14px;
}

