{% if admin.hasRoute('reporte') %}
    <a href="{{ admin.generateObjectUrl('reporte', object) }}"  alt="Mostrar reporte si Existe"
    class="btn view_link" target="_blank" title="{{ 'Generar Reporte' }}">
        <i class="icon-download-alt"></i>
        {{ 'Generar Reporte'}}
        
    </a>
{% endif %}
