<div class="content tab-pane " id="listado_costeo">
    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a>
                    {{"_almacenes_costos_"|trans}}
                </a>
            </h4>
        </div>
        <div class="panel-body">
            <div class="list-group" >                                
                <A class='elemento_costeo list-group-item'
                   data-id='rrhh'
                   >
                    {{'_rrhh_valor_pagado_'|trans}}
                </A>
                <A class='elemento_costeo list-group-item'
                   data-id='rrhh_resumen'
                   >
                    {{'_rrhh_resumen_'|trans}}
                </A>
            </div>
        </div>
    </div>
</div> 