{# Modificado para que agregar el botón para ir al listado #}

{% extends 'IndicadoresBundle::pdf_layout.html.twig' %}

{% block content %}
    <table  >
    <tr>
        <TD>adfaf</td>
        <TD>adfafafdafaf</td>
    </tr>
    <tr>
        <TD>adfaf</td>
        <TD>adfafafdafaf</td>
    </tr>
    </table>
{% endblock %}