.sonata-ba-tbody input{
    width: 50px;
}
DIV.field-container table.table-bordered{
    width: 60%
}

TD[class$="alertas-indicador"]{
    display: none;
}
TH:contains('Indicador'){
    display: none;
}
DIV.field-container thead th:nth-child(2){
    display: none;
}

TD[class$="alertas-color"] {
    width: 200px;
}

/*TD[class$="alertas-comentario"] textarea{
    width: 650px;
    height: 30px;
}*/