div.tablero .row-fluid{
    border: yellow dotted medium ;
}
#tablero_indicadores{
    width: 24%;
    border: #000000 dotted medium ;
    max-height: 475px;
}
#tablero_graficos{
    width: 73%;
    float: right;
    border: red dotted medium ;
}
#tablero_indicadores div{
    max-height: 275px;
}