.background {
    fill: none;
    pointer-events: all;
}

#states {
    fill: #aaa;
    stroke: #fff;
    stroke-width: 1.5px;
}

#states .active {
    fill: steelblue;
}



#div_carga{    
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /* Para CSS3 */
    background: rgba(98, 135, 167, .4);
    /* IE8*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#886287a7', endColorstr='#886287a7');
    /* anteriores a IE8 */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#886287a7', endColorstr='#886287a7');

    display:none;
    z-index:10000;
}

#cargador{
    position:absolute;
    top:50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}
.capa_dimension_valores{
    max-height: 150px;
    width: 50%;    
    overflow: auto;  
    display: inline;
}
.capa_dimension_valores label{
    display: inline;
}

input.valores_filtro{
    width: 40px;
}

.area_grafico:hover{
    background-color: #F4F3FA;
}




#menu_sala.affix{
    top: 0px;
    z-index: 1000;
    width: 100%;
    background-color: white;
    border-bottom: 3px solid green;
}

.area_grafico { 
    margin: 3px 12px 3px 0; 
    float: left; 
    width: 370px; 
    height: 370px; 
    overflow-y: auto;
    border: 1px gray dashed; 
}

.zona_actual{
    border: 1.5px solid green;
}

.zona_maximizada{
    width: 50% !important; 
    height: 80% !important;
}

.titulo{    
    cursor: move;
    text-align: center;
    background-color: #CFF8F7;
    text-align: center;
    font-size: 11pt;
    font-weight: bold;
    display: none;
}

.row_grafico{
    height: 65%;
}
@media only screen and (min-device-width : 1024px) {
    .forcheckbox{
        background-color: #ABA6A6;
        color: white;
        font-weight: bold;
        width: 80%;
        border-radius: 1em 1em 1em 1em;
        line-height:  30px;
        display: block  !important;
        padding-left: 10px;
    }
    input[type=checkbox]
    {
        /* Double-sized Checkboxes */
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
        margin-right: 10px;
        margin-left: 10px;
    }
}
@media only screen and (max-device-width : 1024px) {
    .span6{
        width: 48.8% !important;
        float: left !important;
    }
    input[type=checkbox]
    {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        margin-right: 10px;
        margin-left: 10px;
    }
}

#tool_actions{
    display: none;
}
.navbar-inner {
    min-height: 0px !important;
}
.dropdown-menu li a {
    cursor: pointer;
}

div.popover-content, div.popover-title{
    font-size : 9pt !important;
}

div.datos {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.grafico {
  font: 10px sans-serif;
}
.grafico table{
  font: 12px sans-serif;
}
div#datos table{
 font: 14px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

